/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 28, 2014, 12:37:20 PM
    Author     : ASUS
*/
/*@import url(http://fonts.googleapis.com/css?family=Lobster+Two);*/
@font-face{
	font-family: logofont;
	src:url('NapoleonDemo.ttf');
}
@font-face{
	font-family: cntn;
	src:url('Klarissa.ttf');
}
html {
    width:100%;
    height:100%;
    /*background-image: url('bg.jpg');*/
    background-repeat: repeat;
    background-attachment: fixed;   
    background-position: left;
    font-family: logofont;
}

input,textarea
{
 /* -moz-border-radius: 15px;
 border-radius: 15px;*/
    border:solid 3px black;
    padding:5px;
    color:black;
    background-color:rgba(0, 0, 0, 0);
    border: 1px solid;
    outline:none;
  /*  height:30px;
    transition:height 1s;
    -webkit-transition:height 1s;*/
}
input {
    font-size:24px;
    width:30%;
}

textarea {
    font-size:21px;
    width:50%;  
    height:45%;
}
.logo{
    font-size:80px;
    margin-top:3%;
    margin-bottom: 1%;
    /*font-family: 'Lobster Two', cursive;*/
    font-family: logofont;
    text-align: center;
}
#wrap {
 /*   text-align:center;*/
    margin-left:5%;
    width: 90%;
}
.left{
    position: absolute;
    width: 65%;
    margin-left: 0%;
    
}

.right{
    position: absolute;
    color: black;
    width: 35%;
    right:0%;
}

body {

}

input.underlined ,textarea.underlined
{
   border:0;
   border-bottom:solid 1px   #000;
   outline:none; /* prevents textbox highlight in chrome */
}

input.submit{
    /*margin-left:30%;*/
    font-size: 15px;
    padding:0.5%; 
    width:15%;
    background-color: black;
    color:white;
    -webkit-border-radius: 5%;
}

::-webkit-input-placeholder {
    color:black;
}
.browse{
    font-size:17px;
}
.result1 {
    margin-top: 5%;
    font-size:30px;
}
.result2{
    font-size:70px;
}
.change{
    font-size:30px;
}
.change > button{
    font-size: 15px;
    padding:0.5%; 
    width:50%;
    background-color: black;
    color:white;
    -webkit-border-radius: 5%;
}

opsi > select {
    margin-top: 1%;
    width:50%;
    font-size : 18px;
    margin-bottom: 2%;
}
opsi{
    font-size:30px;
}

.bm{
    margin-top:1%;
    text-decoration: none;
    font-size:35px;
    color:black;
}
.bm:hover {
    color:brown;
}
.orr{
    font-size:25px;
    margin-left : 5%;
    margin-right : 5%;

}
.bmwrapper{
    margin-top:1%;
    margin-bottom: 3%;
    font-size:15px;
    font-family: logofont;
    text-align: center;
}